image: node:alpine

cache:
  paths:
    - node_modules

variables:
  REACT_APP_WALLET_API_URL: "https://codeplay-wallet-service.herokuapp.com/api"

stages:
  - lint
  - test
  - deploy

lint:
  stage: lint
  script:
    - yarn install
    - yarn lint

test:
  stage: test
  script:
    - yarn install
    - yarn test --coverage

pages:
  stage: deploy
  script:
    - yarn install
    - yarn build
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public # mandatory, other folder won't work
  only:
    - master # or dev, the branch you want to publish
