image: node:alpine

cache:
  paths:
    - node_modules

variables:
  REACT_APP_WALLET_API_URL: "https://codeplay-wallet-service.herokuapp.com/api"
  REACT_APP_PUBLIC_URL: "/ep-03/project-simulation/team-1/wallet-web/"


before_script:
  - yarn install

stages:
  - lint
  - test
  - build
  - deploy

lint:
  stage: lint
  script:
    - yarn lint

test:
  stage: test
  variables:
    REACT_APP_WALLET_API_URL: "basePath"
  script:
    - yarn test --coverage

build:
  stage: build
  script:
    - yarn build

pages:
  stage: deploy
  script:
    - yarn build
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public # mandatory, other folder won't work
  only:
    - master # or dev, the branch you want to publish
